{% extends 'nav_bar.html' %}

{% block content %}

    <form class="password-reset-link" action="" method="post">
    <div class="center">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <table>
        <tr>
        <td style="text-align: center;font-size: 150%">请输入邮箱</td>
        <td style="padding-right: 120px">{{ form.email }}</td>
        </tr>
    </table>
    </div>
    <div class="center">
    <input type="submit" class="submit" value="重置密码">
    </div>
    </form>

{% endblock %}