{% extends 'nav_bar.html' %}

{% block content %}
    {% if validlink %}
        <div class="center">
        <p style="color:white; font-size: 150%">请输入你的新密码</p>
        </div>
        {# 重置密码表单 #}
        <form action="" method="post">
        {% csrf_token %}
            <div class="center">
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">新密码:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">确认密码:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
                <input type="submit" value="重置密码" class="submit">
            </div>
        </form>
    {% else %}
        <h1 style="color: white;text-align: center">密码重置失败</h1>
        <p style="color: white;text-align: center">密码重置链接无效，可能因为此链接已经被使用过了。请重新发起重置密码。</p>
    {% endif %} 
{% endblock %}